$COMMONHEADER-HEIGHT: 65px;

.page {
    width: 100vw;
    height: calc(100vh - $COMMONHEADER-HEIGHT);

    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        width: 100%;
        max-width: 1440px;
        height: 100%;

        display: flex;
        flex-direction: column;

        padding: 48px 16px 0px 16px;

        &__intro {
            position: relative;

            width: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            margin-bottom: 8px;

            .image {
                position: absolute;
                bottom: -20px;
                left: 0;
            }
        }
        &__contents {
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;

            border: 1px solid $color-basic-200;
            border-bottom: none;
            border-radius: 8px 8px 0 0;

            .header {
                position: relative;

                width: 100%;
                height: 40px;

                display: flex;
                align-items: center;
                justify-content: center;

                padding: 12px 16px;

                border-bottom: 1px solid $color-basic-200;

                &__dots {
                    position: absolute;
                    left: 16px;

                    display: flex;
                    align-items: center;

                    gap: 6px;
                }
            }
            .body {
                width: 100%;

                display: flex;
                flex-direction: column;

                padding: 16px;

                &__widget-box {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);

                    gap: 16px;
                }
            }
        }
    }
}
