.page {
    width: 100%;
    height: 100vh;

    padding: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $color-white-000;

    &__container {
        width: 100%;
        max-width: 1400px;
        height: 100%;

        display: flex;
        flex-direction: column;

        padding: 24px;
        gap: 8px;

        border: 1px solid $color-neutral-200;
        border-radius: 8px;

        &__title {
            font-size: 2rem;
            font-weight: 600;
            font-family: "Poppins", sans-serif;
        }
        &__card-box {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            gap: 20px;
        }
    }
}
