.card {
    width: 100%;

    display: flex;
    flex-direction: column;

    padding: 12px 16px;
    gap: 12px;

    &__header {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        &__label {
            font-weight: 600;
            color: $color-neutral-600;
        }
    }
    &__info-box {
        width: 100%;

        display: flex;
        flex-direction: column;

        gap: 2px;

        &__column {
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: flex-start;

            gap: 8px;
        }
    }
}
