.title {
    font-family: "Roboto", sans-serif;
}
.desc {
    font-family: "Roboto", sans-serif;
}

.table__footer {
    &__page-count {
        margin-right: 40px;

        font-family: "Roboto", sans-serif;
        font-weight: 400;
    }
}
