$HEADER-HEIGHT: 60px;
$FOOTER-HEIGHT: 60px;

.page {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__contents {
        width: 100%;
        height: calc(100% - $HEADER-HEIGHT - $FOOTER-HEIGHT);

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: rgb(218, 218, 236);
    }
}
